# HackerEarth Hack OverFlow Ford Data Scientist & Analytics modeler Hiring challenge _oct-nov-2022

Used **Naive Bayes** algorithm

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs

from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import f1_score

In [2]:
# reading csv files
train_csv=pd.read_csv('dataset\\train.csv')
test_csv=pd.read_csv('dataset\\test.csv')

In [3]:
# function to extracting required text from .html files
def read_file(fname):
    file=open(fname,'r',encoding='utf-8').read()
    z=bs(file,'html.parser').find_all('p')[5].text
    return z

In [4]:
train_path='dataset\\train\\'
train_text=list(map(read_file,train_path+train_csv['File_Name']))

In [5]:
test_path='dataset\\test\\'
test_text=list(map(read_file,test_path+test_csv['File_Name']))

In [6]:
print(train_csv.shape)
train_csv.tail()

(13452, 2)

             File_Name      Product
13447  PROJ0x31d9.html  Organicfood
13448  PROJ0x28b3.html  Organicfood
13449   PROJ0x7b3.html    Kids toys
13450  PROJ0x2cee.html         Bike
13451  PROJ0x574d.html     charcoal

In [7]:
print(test_csv.shape)
test_csv.tail()

(2375, 1)

            File_Name
2370  PROJ0x50cc.html
2371  PROJ0x6d19.html
2372  PROJ0x8972.html
2373  PROJ0x6ad2.html
2374  PROJ0x5565.html

In [8]:
#training the model
cv=CountVectorizer(ngram_range=(2,2))
train_vector=cv.fit_transform(train_text)
tfidf=TfidfTransformer()
train_x=tfidf.fit_transform(train_vector)

train_y=train_csv['Product'].values
model=MultinomialNB(alpha=0.1).fit(train_x,train_y)

predicted=model.predict(train_x)
print(predicted)

['AI' 'Truck' 'Bike' ... 'Kids toys' 'Bike' 'charcoal']

In [9]:
#calculating f1 score
f1=100*f1_score(train_y,predicted,average='weighted')
print(f1)

82.89611551259127

In [10]:
## testing with test csv

test_vector=cv.transform(test_text)
test_x=tfidf.transform(test_vector)
op=model.predict(test_x)
print(op)

['Gaming hardware' 'charcoal' 'Kids toys' ... 'Gaming hardware'
 'Kids toys' 'charcoal']

In [11]:
op_df=test_csv.assign(Product=op)
print(op_df.shape)
op_df

(2375, 2)

            File_Name          Product
0      PROJ0x6c6.html  Gaming hardware
1     PROJ0x6606.html         charcoal
2     PROJ0x86d0.html        Kids toys
3     PROJ0x93b4.html      Organicfood
4     PROJ0x2cd6.html  Medical devices
...               ...              ...
2370  PROJ0x50cc.html  Gaming hardware
2371  PROJ0x6d19.html             Bike
2372  PROJ0x8972.html  Gaming hardware
2373  PROJ0x6ad2.html        Kids toys
2374  PROJ0x5565.html         charcoal

[2375 rows x 2 columns]

In [12]:
op_df.to_csv("Submission.csv",index=False)